
.text-muted {
  color: $gray-light;
}

.o_chat_window {
  &,* {
    @include box-sizing(border-box);
  }
  .o_chat_header {
    height: 28px;
    .fa-close {
      text-decoration: none;
      font-weight: bold;
      &:before {
        content: "X";
      }
    }
    > span {
      margin: auto 0;
    }
  }
}
